root = true

[*]
end_of_line          = lf
insert_final_newline = true
indent_style         = space
indent_size          = 4
trim_trailing_whitespace = true

[*.{cmd,bat}]
end_of_line = crlf

[*.{cpp,h}]
end_of_line          = crlf
charset      = latin1
indent_style = space
trim_trailing_whitespace = true

[*.{cxx,cc,hpp,hh}]
end_of_line     = lf
charset         = utf-8
indent_style = space

[*.md]
charset = utf-8
end_of_line = lf

[go.mod, go.sum]
chrset = utf-8
end_of_line = lf

[*.go]
charset = utf-8
end_of_line = lf
